* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
body {
  height: 100vh;
  background-color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
section {
  margin: 2rem 4rem;
  padding: 1rem;
  border-top: 2px gray solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section > p {
  font-size: 1.1rem;
}
section:nth-child(1) {
  border: none;
}
section > .images {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
section > .images > img {
  height: 30%;
  min-height: 150px;
  max-height: 250px;
}
